.container {
  display: grid;
  margin: auto;
  padding: auto;
  justify-content: center;
}


.text {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 24px;
  height: 150px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.keyboard {
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(30, 30px);
  grid-template-rows: repeat(5, 60px);
  grid-gap: 5px;
  align-content: center;
}
.key {
  background-color: wheat;
  font-size: 20px;
  font-weight: 400;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  grid-column: span 2;
  text-align: center;
}
.key:hover {
  cursor: pointer;
}
.keyNum {
  display: grid;
  padding-top: 1%;
  background-color: wheat;
  font-size: 20px;
  font-weight: 400;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  grid-column: span 2;
  text-align: center;
  grid-gap: 0.5px;
}
.delete {
  @extend .key;
  grid-column: span 4;
}

.tab {
  @extend .key;
  grid-column: span 3;
}

.backslash {
  @extend .keyNum;
  grid-column: span 3;
}

.capslock {
  @extend .key;
  grid-column: span 4;
}
.activeCapsLock {
  @extend .capslock;
  background-color: black;
  color: white;
}

.return {
  @extend .key;
  grid-column: span 4;
}

.leftshift {
  @extend .key;
  grid-column: span 5;
}

.rightshift {
  @extend .key;
  grid-column: span 5;
}

.activeLeftShift {
  @extend .leftshift;
  background-color: black;
  color: white;
}
.activeRightShift {
  @extend .rightshift;
  background-color: black;
  color: white;
}
.space {
  @extend .key;
  grid-column: span 30;
}
@media screen and (max-width: 1050px) {
  .keyboard {
    grid-template-columns: repeat(30, 15px);
    grid-template-rows: repeat(5, 30px);
    grid-gap: 5px;
  }
  .key {
    font-size: 12px;
  }
  .keyNum {
    font-size: 8px;
  }
}

@media screen and (max-width: 765px) {
  .keyboard {
    grid-template-columns: repeat(30, 10px);
    grid-template-rows: repeat(5, 30px);
    grid-gap: 2px;
  }
  .key {
    font-size: 8px;
  }
  .keyNum {
    font-size: 7px;
  }
  .text {
    font-size: 16px;
  }
}
@media screen and (max-width: 360px) {
  .keyboard {
    grid-template-columns: repeat(30, 9px);
    grid-template-rows: repeat(5, 20px);
    grid-gap: 1px;
  }

  .text {
    font-size: 12px;
  }
  .key {
    font-size: 8px;
  }
  .keyNum {
    font-size: 7px;
  }
  .delete {
    font-size: 7px;
  }
  .capslock {
    font-size: 7px;
  }
}
@media screen and (max-width: 320px) {
  .keyboard {
    grid-template-columns: repeat(30, 7px);
    grid-template-rows: repeat(5, 20px);
    grid-gap: 1px;
  }
  .text {
    font-size: 12px;
  }
  .key {
    font-size: 7px;
  }
  .keyNum {
    font-size: 4px;
  }
  .delete {
    font-size: 5px;
  }
  .capslock {
    font-size: 5px;
  }
}